@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

/*header*/
#nav {
  padding: 15px 90px;
}
/*header*/

/* left section*/

.lefthead {
  font-size: 80px;
  font-weight: 600;
}

.description {
  font-size: 18px;
  margin: 10px 10px 20px 10px;
}

.wishes {
  font-size: 23px;
  margin: 20px 10px;
  font-weight: 500;
}

.btn-wrapper {
  margin: 20px 10px;
}

#btnn {
  border-radius: 0;
}

/* left section*/

/*footer*/

.footer {
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  margin: 20px 10px;
  padding: 0px 20px;
}
/* .github-icon {
  margin-left: 10px;
} */

/*footer*/

/*Editor component*/

.container-editor {
  display: flex;
  flex-direction: column;
}

.output,
.editor {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
/*Editor component*/
