:root {
  --clr-light: #fff;
  --clr-dark: #121212;
  --clr-text: #242424;
  --clr-secondary: #bb86fc;
  --clr-error: #cf6679;
}

@media (prefers-color-scheme: dark) {
  /* .Dark {
    background: var(--clr-dark) !important;
  } */

  .navDark {
    background: var(--clr-dark) !important;
  }

  .SecondaryDark {
    background: var(--clr-text) !important;
  }

  .textColor {
    color: var(--clr-light) !important;
  }

  .white-dropdown {
    color: var(--clr-light);
    background: var(--clr-dark);
    border: 1px solid var(--clr-light) !important;
  }

  .white-btn {
    color: var(--clr-light);
    background: var(--clr-dark);
    border: 1px solid var(--clr-light) !important;
  }

  .white-btn:hover {
    color: var(--clr-dark);
    background: var(--clr-light);
    border: 1px solid var(--clr-dark) !important;
  }

  .black-btn {
    color: var(--clr-dark);
    background: var(--clr-light);
    border: 1px solid var(--clr-dark);
  }

  .black-btn:hover {
    background-color: var(--clr-dark);
    border: 1px solid var(--clr-light);
  }

  .svgColor {
    fill: var(--clr-light) !important;
  }
}
