.leftSec {
  width: 40%;
  padding: 50px;
  margin: 30px 40px;
}

.form-control {
  border-radius: 0;
  border: 1px solid black;
  /* width: 80%; */
  /* margin-right: auto; */
  /* max-width: 100%; */
}
.login-button:focus {
  box-shadow: none;
}

.login-button:hover {
  border: 1px solid #212529;
  color: #212529;
  background-color: #fff;
}

.alert {
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .leftSec {
    padding: 0;
    width: 80%;
    margin: 30px auto;
  }
}
