/* * {
  box-sizing: border-box;
} */
.whiteboard {
  /* position: absolute; */
}
.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}
.whiteboard {
  /* object-fit: contain; */
  border: 1px solid black;
  cursor: crosshair;
  /* position: fixed; */
  /* margin: 0;
  padding: 0; */
  width: 100%;
  height: 80vh;
}
